# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.backup
.env.production
/auth.json

# IDE/editor configs
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# Dependencies
/node_modules
/vendor

# Laravel build artifacts
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

# Homestead
Homestead.json
Homestead.yaml

# Ignore Electron binaries
/electron/node_modules/
/electron/node_modules/electron/dist/electron.exe
